@using ThirdCorner.Base.Controls

@{
    ViewBag.Title = "Search Users";
}
<button onclick="location.href='@Url.Action("Edit", "Example", new {id=0})'"><i class="icon-wrench"></i> New User</button>
<div class="content-container">
    <div class="content">
        <div class="sub-heading">
            <h1 class="sub-title">Search Users</h1>
        </div>
        @using (Html.PagingSortingFormGetHtml(Url.Action("DoSearch"), Url.Action("Export"), "FullName", true))
        {
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="username">User Name:</label>
                        <input type="text" class="span12" name="username" id="username" placeholder="User Name">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">Search</button>
            <input type="button" class="btn" value="Reset" onclick="window.location = '@Url.Action("Index")' "/>
        }
    </div>
    <div id='results'></div>

    
</div>


@section scripts
{ 
    <script type="text/javascript" src="@Url.Content("~/scripts/pagingsorting.js")"></script>
    
    <script>
        $(function () {
            doHistorySetup();
        });


    </script>
}